flows/1_chat_without_rag_openai.yaml
id: 1_chat_without_rag_openai
namespace: zoomcamp

description: |
  OpenAI-provider copy of the homework flow 1_chat_without_rag.yaml.

tasks:
  - id: chat_without_rag
    type: io.kestra.plugin.ai.completion.ChatCompletion
    description: Query about Kestra 1.1 features WITHOUT RAG
    retry:
      type: exponential
      interval: PT10S
      maxInterval: PT2M
      maxAttempts: 3
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: gpt-4o-mini
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
    messages:
      - type: USER
        content: |
          Which features were released in Kestra 1.1?
          Please list at least 5 major features with brief descriptions.

  - id: log_results
    type: io.kestra.plugin.core.log.Log
    message: |
      Response WITHOUT RAG (no retrieved context):
      {{ outputs.chat_without_rag.textOutput }}
