flows/2_chat_with_rag_openai.yaml
id: 2_chat_with_rag_openai
namespace: zoomcamp

description: |
  This flow demonstrates RAG (Retrieval Augmented Generation) by ingesting Kestra release documentation and using it to answer questions accurately.
  This is an OpenAI adaptation of the original Gemini-based course flow.
  
  Compare this with 1_chat_without_rag_openai.yaml to see the difference RAG makes!

tasks:
  - id: ingest_release_notes
    type: io.kestra.plugin.ai.rag.IngestDocument
    description: Ingest Kestra 1.1 release notes to create embeddings
    retry:
      type: exponential
      interval: PT10S
      maxInterval: PT2M
      maxAttempts: 3
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: text-embedding-3-small
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
    embeddings:
      type: io.kestra.plugin.ai.embeddings.KestraKVStore
    drop: true
    fromExternalURLs:
      - https://raw.githubusercontent.com/kestra-io/docs/refs/heads/main/src/contents/blogs/release-1-1/index.md

  - id: chat_with_rag
    type: io.kestra.plugin.ai.rag.ChatCompletion
    description: Query about Kestra 1.1 features with RAG context
    retry:
      type: exponential
      interval: PT10S
      maxInterval: PT2M
      maxAttempts: 3
    chatProvider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: gpt-4o-mini
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
    embeddingProvider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: text-embedding-3-small
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
    embeddings:
      type: io.kestra.plugin.ai.embeddings.KestraKVStore
    systemMessage: |
      You are a helpful assistant that answers questions about Kestra.
      Use the provided documentation to give accurate, specific answers.
      If you don't find the information in the context, say so.
    prompt: |
      Which features were released in Kestra 1.1?
      Please list at least 5 major features with brief descriptions.

  - id: log_results
    type: io.kestra.plugin.core.log.Log
    message: |
      RAG Response (with retrieved context):
      {{ outputs.chat_with_rag.textOutput }}
      
      This response should be detailed, accurate, and grounded in the actual release documentation.
